In [26]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 9999
pd.options.display.max_rows = 8
mel_df = pd.read_csv('melb_data.csv')
from sklearn.model_selection import train_test_split

In [18]:
df = pd.DataFrame({'col1': [2,4,1,5,6], 
                  'col2': [3,np.NaN,4,np.NaN,6],
                    'col3': [3,6,4,6,2]})

In [19]:
from sklearn.impute import SimpleImputer

#Three ways to fix missing values:
#1.drop column
df1 = df.drop(['col2'], axis=1)
#2.fill NaN fields with average
df1 = df
df1['col2'] = df['col2'].fillna(df['col2'].mean())
#or
my_imputer = SimpleImputer()
df4 = pd.DataFrame(my_imputer.fit_transform(df)) #imputer puts mean values in NaN and removes column names
df4.columns = df.columns #put column names back in
df4
#3.(BEST) fill NaN fields with average and create column for where row used to have a NaN value
dfcopy = df
cols_with_missing = [col for col in dfcopy.columns
                     if dfcopy[col].isnull().any()] #create array of columns with any missing value
for col in cols_with_missing:
    dfcopy[col + '_was_missing'] = dfcopy[col].isnull() #create new columns 
my_imputer = SimpleImputer()
df5 = pd.DataFrame(my_imputer.fit_transform(df))
df5.columns = dfcopy.columns #put column names back in
df5

   col1      col2  col3
0   2.0  3.000000   3.0
1   4.0  4.333333   6.0
2   1.0  4.000000   4.0
3   5.0  4.333333   6.0
4   6.0  6.000000   2.0

In [28]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

#Three ways to fix categorical data:

#1. drop column

#2. Label Encoding, best for Ordinal data - used for data that has ranking - convert to integers
#using LabelEncoder() might not be best, sometimes better to manually set integers in order that makes sense
df = pd.DataFrame({'col1': [2,4,1,5,6], 
                  'col2': ["morning","night","afternoon","morning","night"],
                    'col3': [3,6,4,6,2]})
df1 = df
label_encoder = LabelEncoder()
df1['col2'] = label_encoder.fit_transform(df1['col2'])
df1

#3. Create new column for each value of category column
df_train = pd.DataFrame({'col1': [2,4,1,5,6], 
                  'col2': ["red","blue","yellow","blue","red"],
                  'col3': [3,6,4,6,2],
                  'col4': ['steel','wood','steel','wood','steel']})
# Get list of categorical variables
s = (df_train.dtypes == 'object')
object_cols = list(s[s].index)

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_df = pd.DataFrame(OH_encoder.fit_transform(df_train[object_cols]))
#use OneHotEncoder.transform() on test data after just using OneHotEncoder.fit_transform() on train data
#OH_cols_df = pd.DataFrame(OH_encoder.transform(df_test[object_cols]))
OH_cols_df
# One-hot encoding removed index; put it back
OH_cols_df.index = df_train.index
# Remove categorical columns (will replace with one-hot encoding)
num_df_train = df_train.drop(object_cols, axis=1)
# Add one-hot encoded columns to numerical features
OH_df_train = pd.concat([num_df_train, OH_cols_df], axis=1)
OH_df_train

   col1  col2  col3
0     2     1     3
1     4     2     6
2     1     0     4
3     5     1     6
4     6     2     2

   col1  col3    0    1    2    3    4
0     2     3  0.0  1.0  0.0  1.0  0.0
1     4     6  1.0  0.0  0.0  0.0  1.0
2     1     4  0.0  0.0  1.0  1.0  0.0
3     5     6  1.0  0.0  0.0  0.0  1.0
4     6     2  0.0  1.0  0.0  1.0  0.0

In [37]:
OH_cols_df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]